<mapper namespace="test">
    <!-- select标签，封装了SQL语句信息、入参类型、结果映射类型 -->
    <select id="findUserById" parameterType="com.shrm.pojo.User" resultType="com.shrm.pojo.User" statementType="prepared">
        SELECT * FROM users
        <if test="username != null and username != ''">
            where username like '%${username}%'
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
        </if>
    </select>
</mapper>